<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectString" value="" />
    <add key="DatabaseNeedUpgrade" value="True" />
    <add key="Categorys" value="买菜,话费,车费,羊城通,快餐,早餐,超市,房租," />
    <add key ="Users" value="三娟,建华"/>
    <add key="PaymentModes" value="现金,刷银行卡,支付宝"/>
    <add key="RememberLogID" value="True" />
  </appSettings>
</configuration>