<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectString" value="#,u&gt;mnGoRp$JA\)xJHz6nTcx/m\8b79?L]G OU]rQ\v`hV%&gt;h#e~xe$7T@L=2 *c4:N]|]r/[u~B{d+t%bf/RY+SRh2i8dSw$?kcV3(.ye+IN\CwCY" />
    <add key="DatabaseNeedUpgrade" value="True" />
    <add key="Categorys" value="早餐,买菜,车费,水果,快餐,话费,超市,羊城通,房租,生活费,其它" />
    <add key="Users" value="三娟,建华" />
    <add key="PaymentModes" value="现金,刷银行卡,支付宝" />
    <add key="RememberLogID" value="True" />
  </appSettings>
</configuration>