<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectString" value=".@# v pGR cJ/\)#Tbz?,?xx/##+JUb6|IG?OUF:X!&gt;Q&amp;`%8W#6~x2;eTSZT9 x(A5AV&amp;`M!=Yz*Af#g5oFL`%" />
    <add key="DatabaseNeedUpgrade" value="True" />
    <add key="Categorys" value="1-买菜,2-早餐,3-快餐,4-水果,5-超市,6-羊城通,7-话费,8-房租,9-车费,10-生活费,11-其它" />
    <add key="Users" value="三娟,建华" />
    <add key="PaymentModes" value="1-现金,2-刷银行卡,3-支付宝" />
    <add key="RememberLogID" value="True" />
  </appSettings>
</configuration>